
.login {
  background: white;
  max-width: 643px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  margin-left: -250px;
  display:block;
}

.login-header {
  background: #0094bb;
  color: white;
  height: 70px;
  font-size: 1.2em;
  font-weight: 600;
}

.login-img {
  background-size: cover;
  background-position: top center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display:block;
}

.avatar {
  width: 100px;
  border-radius: 300px;
  height: 100px;
  margin-left: 20px;
  position: relative;
  bottom: 15px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.avatar img {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  border: 2px solid #0094bb;
  margin: auto;
}

.login-label {
  margin-left: 50px;
  bottom: 55px;
  display: inline-block;
  position: relative;
  font-weight: 300;
  font-size: 30px;
}

.input_container {
  position: relative;
  padding:0 0 0 20px;
  margin: 20px 20px;
  width: 80%;
  display: inline-block;
}

.input-fields {
  margin-top: 40px;
}

.input {
  height: 35px;
  padding-right: 30px;
  padding-left: 20px;
  width: 100%;
  border: 1px solid #acacac;
  border-radius: 5px;
  background-color: #e5e5e5;
  margin-top: 10px;
  color: #bebebe;
}

.input-has-error {
  border: 1px solid #cc0849;
  border-radius: 5px;
}

.label-input {
  color: #7d7d7d;
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 15px;
}

.label-input-has-error {
  color: #cc0849;
}

.input:focus {
  background-color: #ffffff;
  border-radius: 5px;
}

.input::placeholder {
  color: #b8b8b8;
  font-weight: 400;
  font-size: 15px;
}

.input:not(:placeholder-shown) {

}

.input_img {
  position: absolute;
  bottom: -4px;
  right: -62px;
  width: 24px;
  height: 24px;
  z-index: 2;
  cursor: pointer;
  color: #fff;
}

.input_container:after {
  content: "";
  position: absolute;
  top: 29px;
  right: -51px;
  width: 0;
  height: 0;
  display: block;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 15px solid #0094bb;
  border-right: 15px solid #0094bb;
  border-radius: 0 20% 0 0;
}

.input_img .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #0094bb;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 30%;
  margin-left: -42px;
  opacity: 0;
  margin-bottom: 5px;
  transition: opacity 0.3s;
  font-weight: 300;
  font-size: 12px;
}

.input_img .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 5px;
  border-style: solid;
  border-color: #0094bb transparent transparent transparent;
}

.input_img:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.submit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  padding: 33px;
  background: #e5e5e5;
  border-top: 1px solid #acacac;
}

.submit-container p {
  color: #0094bb;
  margin-right: 10px;
  font-weight: 300;
  font-size: 15px;
}

.login-button {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  color: #acacac;
  cursor: pointer;
  background: #ffffff;
  opacity: 1;
  animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
  transition: background 0.2s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.login-button.raised {
  padding: 5px 10px;
  color: #FAFAFA;
  background: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.137255),
  0px 1px 5px 0px rgba(0, 0, 0, 0.117647),
  0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
  background: #0094bb;
  color: #fff;
}

.login-button.raised:hover {
  background: #fff;
}

.cancel-button {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  color: #cc0849;
  cursor: pointer;
  background: #ffffff;
  opacity: 1;
  animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
  transition: background 0.2s ease-in-out;
  border: 1px solid #cc0849;
}

.cancel-button.raised {
  padding: 5px 10px;
  color: #FAFAFA;
  background: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.137255),
  0px 1px 5px 0px rgba(0, 0, 0, 0.117647),
  0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.cancel-button:hover {
  background: #cc0849;
  color: #fff;
}

.cancel-button.raised:hover {
  background: #fff;
}

/* Submit Button */
.reset-submit-container {
  padding: 33px;
  background: #e5e5e5;
  border-top: 1px solid #acacac;
  margin-top: 30px;
}

.checkbox {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  position: relative;
  color: #bdbdbd;
  padding-bottom: 5px;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkbox label {
  padding-top: -5px;
}

[type="checkbox"]:not(:checked) + label::before, [type="checkbox"]:checked + label::before {
  background: white none repeat scroll 0 0;
  border: 1px solid #aaa;
  border-radius: 5px;
  content: "";
  height: 18px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 18px;
}

[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:not(:checked) + label::after, [type="checkbox"]:checked + label::after {
  color: #0094bb;
  content: "✔";
  font-size: 35px;
  left: 0px;
  line-height: 0.8;
  position: absolute;
  top: -5px;
  transition: all 0.2s ease 0s;
}
[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}

.radio label, .checkbox label {
  cursor: pointer;
  font-weight: 300;
  font-size: 15px;
  min-height: 20px;
  padding-left: 20px;
  line-height:32px;
  display: inline-block;
}

.reset-password-text {
  margin: 40px;
  font-weight: 300;
  font-size: 12px;
  color: #7d7d7d;
}

.reset-password-button {
  float: right;
  margin-right: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.error {
  position: absolute;
  float: right;
  color: #cc0849;
  right: -51px;
  font-weight: 300;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .login {
    background: white;
    max-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: -150px;
    display:block;
  }

  .login-label {
    margin-left: 150px;
    bottom: 90px;
    display: inline-block;
    position: relative;
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
  }

  .input_container {
    position: relative;
    padding:0 0 0 20px;
    margin: 20px 20px;
    width: 60%;
    display: inline-block;
  }
  .reset-password-button {
    float: left;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .reset-submit-container {
    height: 120px;
    background: #e5e5e5;
    border-top: 1px solid #acacac;
    margin-top: 30px;
  }

  .input_container:after {
    content: "";
    position: absolute;
    top: 32px;
    right: -51px;
    width: 0;
    height: 0;
    display: block;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top: 15px solid #0094bb;
    border-right: 15px solid #0094bb;
    border-radius: 0 20% 0 0;
  }
}