
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css?family=Montserrat');
  src: local('Open Sans'), local('OpenSans'),
  url('https://fonts.googleapis.com/css?family=Montserrat') format('svg');
}
body {
  font-family: 'Montserrat', serif;
}

@import 'containers/AuthenticationLayoutContainer.scss';
@import 'views/signin.scss';