.authentication {
  height: 100vh;

  .authentication_wrapper {
    top: 0;
    right: 0;
    min-height: 100vh;

  }
}

.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../images/bg1.png');
  background-repeat:repeat;
  overflow-y:auto;
}
